<h1>
	The Summer Day
</h1>
</br>
<h2>
	Who made the world? <br>
	Who made the swan, and the black bear?<br>
	Who made the grasshopper?<br>
	This grasshopper, I mean-<br>
	the one who has flung herself out of the grass,<br>
	the one who is eating sugar out of my hand,<br>
	who is moving her jaws back and forth instead of up and down-<br>
	who is gazing around with her enormous and complicated eyes.<br>
	Now she lifts her pale forearms and thoroughly washes her face.<br>
	Now she snaps her wings open, and floats away.<br>
	I don't know exactly what a prayer is.<br>
	I do know how to pay attention, how to fall down<br>
	into the grass, how to kneel down in the grass,<br>
	how to be idle and blessed, how to stroll through the fields,<br>
	which is what I have been doing all day.<br>
	Tell me, what else should I have done?<br>
	Doesn't everything die at last, and too soon?<br>
	<b>Tell me, what is it you plan to do<br>
	with your one wild and precious life?</b><br>
</h2>
<h3>
	-Mary Oliver
</h3>
